.flex {
    display: flex;
}

.centerCenter {
    justify-content: center;
    align-items: center;
}

.flEnd {
    align-items: flex-end;
}

.flWrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.justifyCenter {
    justify-content: center;
}

.alignStart {
    align-self: flex-start;
}

.selfCenter {
    align-self: center;
}

.contentBetween {
    justify-content: space-between;
}